
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(218, 213, 213);
}

.mainHeader__nav{
    
    background-color: black;
    height:70px;
    display:flex;
    justify-content: space-between;

}
.mainHeader__listItems{
display: flex;
align-items: center;
height:100%;

}
.mainHeader__listItems2{
    display: flex;
    align-items: center;
    height:100%;
    
    }
.mainHeader__item{
    margin:15px;
    font-size: 23px;
    
}


.mainHeader__item a{
    text-decoration: none;
    color:rgb(169, 255, 21);
}

form{
    width:70%;
    /* height:200px; */
    /* background-color: rgba(18, 18, 19, 0.541); */
    margin:auto; 
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    

}
label{
    background-color: black;
    color: white;
    margin:10px;
}
.form__input{
width:300px;
height:30px;
margin:10px;
background-color: black;
color: white;
}
.form__submit{
width:90px;
height:30px;
margin:10px;
background-color: black;
color: white;

}
