
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(218, 213, 213);
}

.mainHeader__nav{
    width:100vw;
    background-color: black;
    height:50px;
    
}
.mainHeader__listItems{
display: flex;
align-items: center;
height:100%;

}
.mainHeader__item{
    margin:10px;
    font-size: 20px;
    
}
.mainHeader__item a{
    text-decoration: none;
    color:white;
}
form{
    width:70%;
    height:200px;
    background-color: rgba(18, 18, 19, 0.541);
    margin:auto; 
    display:flex;
    flex-direction: column;
    align-items: center;
    

}
label{
    color:white;
    margin:10px;
}
.form__input{
width:300px;
margin:10px;
}
.form__submit{
width:70px;
margin:10px;

}
