*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(218, 213, 213);
}

.mainHeader__nav{
    
    background-color: black;
    height:70px;
    display:flex;
    justify-content: space-between;

}
.mainHeader__listItems{
display: flex;
align-items: center;
height:100%;

}
.mainHeader__listItems2{
    display: flex;
    align-items: center;
    height:100%;
    
    }
.mainHeader__item{
    margin:15px;
    font-size: 23px;
    
}


.mainHeader__item a{
    text-decoration: none;
    color:rgb(169, 255, 21);
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(218, 213, 213);
}

.mainHeader__nav{
    
    background-color: black;
    height:70px;
    display:flex;
    justify-content: space-between;

}
.mainHeader__listItems{
display: flex;
align-items: center;
height:100%;

}
.mainHeader__listItems2{
    display: flex;
    align-items: center;
    height:100%;
    
    }
.mainHeader__item{
    margin:15px;
    font-size: 23px;
    
}


.mainHeader__item a{
    text-decoration: none;
    color:rgb(169, 255, 21);
}
.cart{
    margin:auto;
    width:500px;
    margin-top:80px;
    background-color: rgb(217, 230, 230);
}
#productName{
    text-align: center;
    list-style-type: none;
    font-size: 35px;
}
.li{
    list-style-type: none;
    font-size: 25px;
    margin:10px;
}