<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/css/contactUs.css">
</head>
<body>
   <header class="mainHeader">
    <nav class="mainHeader__nav">
        <ul class="mainHeader__listItems">
            <li class="mainHeader__item"><a href="/">Shop</a></li>
            <li class="mainHeader__item"><a href="/admin/add-products">Add Products</a></li>
            <li class="mainHeader__item"><a href="/contactUs">Contact Us</a></li>
        </ul>
    </nav>
   </header>
   <main class="mainTag">
     <h1 class="mainTag__heading">Please fill ur details and we will contact you shortly</h1>
     <div class="contactFormDiv">
        <form action="/" class="contactForm" method="post">
            <label for="name" class="label">Name:</label>
            <input type="text" name="name" id="name" class="input" >
            <label for="email" class="label">email:</label>
            <input  class="input" type="email" name="email" id="email">
            <button type="submit">Submit</button>

        </form>
     </div>
   </main>
   <script>
    let form=document.querySelector("form") 
    form.addEventListener("submit",(e)=>{
        alert("Submitted Succesfully")
    })
   </script>
</body> 
</html>