<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
   <header class="mainHeader">
    <nav class="mainHeader__nav">
        <ul class="mainHeader__listItems">
            <li class="mainHeader__item"><a href="/">Shop</a></li>
            <li class="mainHeader__item"><a href="/admin/add-products">Add Products</a></li>
            <li class="mainHeader__item"><a href="/contactUs">Contact Us</a></li>
        </ul>
    </nav>
   </header>
   <main class="mainTag">
     <h1 class="mainTag__heading">Welcome to the Shop</h1>
   </main>
</body>
</html>